// VARIABLES
@use './variables' as *;
// VARIABLES

// DIVIDER USED TO FLEX
.divider {
    background-color: $primaryColor;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

// MISSION SECTION BEGINS
.plantedMissionSection {
    margin-top: -200px;
    z-index: 10;
    width: 65%;
}

// BLOG WRAPPER 2
.blogWrapper2 {
    width: 100%;
    max-width: calc((100% - ((10% / 65%) * 100%)));
    margin: 0 auto;
}

.ourMissionContainer {
    display: flex;
    flex-direction: column;
    border-left: 5px solid $secondaryColor;
    border-bottom: 5px solid $secondaryColor;
    margin-left: -15px;
}

.postOurMissionImage {
    box-shadow: -15px 15px $secondaryColor;
}

.missionArticleContainer {
    padding: 75px 0 25px 0;
    h2 {
    @include primaryFont(2.15rem);
    font-weight: bold;
    letter-spacing: 1.3px;
    line-height: 46px;
    }
    .articleAuthor {
    color: $headingColor;
    font-style: italic;
    margin-bottom: 50px;
    margin-top: 0;
        span {
        font-weight: bold;
        }
    }
}
// END OF MISSION ARTICLE SECTION

// COMMENT SECTION
.commentSection {
    background-color: $primaryColor;
    margin-top: 50px;
    h4{
        @include primaryFont(1.6rem);
        font-weight: bold;
    }
}

.jeremyComment,
.juliaComment {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    .profileImgContainer {
        width: 15%;
        min-width: 100px;
    }
    .commentText {
        display: flex;
        flex-direction: column;
        width: 70%;
        h5 {
            @include primaryFont(1rem);
            color: $headingColor;
            font-weight: bold;
        }
        p{
            margin: 0;
        }
    }
}

// COMMENT SECTION END
// FORM/POST COMMENT SECTION BEGIN
.blogPostComment {
    background-color: $primaryColor;
    margin: 100px 0;
}

.blogForm {
    display: flex;
    flex-direction: column;
    label {
        display: none;
    }
    .blogFormNameEmailContainer {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        input {
            width: 48%;
            background-color: $primaryColor;
            border: none;
            border-bottom: $tertiaryColor solid 2px;
            @include primaryFont(1rem);
            padding-left: 25px;
            padding-bottom: 25px;
        }
    }
    textarea {
        @include primaryFont(1rem);
        padding-top: 40px;
        padding-left: 35px;
        margin-bottom: 30px;
        line-height: 32px;
    }
}

// ASIDE SIDEBAR SECTION
.blogWrapper1 {
    width: 100%;
    max-width: calc((100% - ((10% / 35%) * 100%)));
    margin: 0 auto;
}

aside.sideBar {
    margin-top: 125px;
    height: 100%;
    width: 35%;
}

.sideBarImage {
    width: 85.8%;
    z-index: 10;
    border-right: solid $sideBarColor 10px;
}

.sideBarTextContainer {
    background-color: $sideBarColor;
    padding: 40px 30px;
    border-right: 10px solid $sideBarColor;
    h3 {
    @include primaryFont(1rem);
    font-weight: bold;
    letter-spacing: 1px;
    }
}

.aboutPlanted a {
    color: $headingColor;
    font-weight: bold;
    font-style: oblique;
}

.recentPosts {
    margin-top: 50px;
    ul {
        padding-left: 20px;
        li::before {
            content: "\2022";
            color: $tertiaryColor;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1rem;
        }
    }
}
// END OF SIDEBAR SECTION