// VARIABLES
@use './variables' as *;
// VARIABLES

// BLACK BACKGROUND TO NAV
.blogHeader nav {
    background-color: black;

    li:nth-child(4) a {
        color: $secondaryColor;
    }
}

// HEADER
.blogHeader {
    background-image: url(..//..//assets/blog-header-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    h1 {
        @include primaryFont(4rem);
        font-weight: bold;
        line-height: 92px;
        color: $secondaryColor;
        margin-bottom: 80px;
    }
}