// VARIABLES
@use './variables' as *;
// VARIABLES

// BLOG WRAPPER
.blogWrapper1 {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    margin-right: 0;

}
.divider{
    background-color: $primaryColor;
    // display: flex;
}

.divider {
    display: flex;
    justify-content: space-between;
}

section.sideBar {
    min-width: 250px;
    margin-top: 125px;
    height: 100%;
    width: 35%;
}

.aboutPlanted a {
    color: $headingColor;
    font-weight: bold;
    font-style: oblique;
}

section.sideBar h3 {
    @include primaryFont(1rem);
    font-weight: bold;
    letter-spacing: 1px;
}

.sideBarTextContainer {
    background-color: white;
    padding: 40px;
}

.sideBarImage {
    // width: 170%;
    // position: relative;
    // top: -40px;
    // left: -180px;
}

.recentPosts {
    margin-top: 50px;
}

.recentPosts ul {
    padding-left: 30px;
}

.recentPosts ul li::before {
    content: "\2022";
    color: $tertiaryColor;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1rem;
}
// SIDEBAR ENDS
// MISSION SECTION BEGINS

// BLOG WRAPPER 2
.blogWrapper2 {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    margin-left: 0;
}

.missionSection {
    margin-top: -200px;
    z-index: 10;
    width: 60%;
}

.ourMissionContainer {
    display: flex;
    flex-direction: column;
    border-left: 5px solid $secondaryColor;
    border-bottom: 5px solid $secondaryColor;
}

.postOurMissionImage {
    box-shadow: -15px 15px $secondaryColor;
    // position: relative;
    // left: 15px;
}

.missionArticleContainer {
    padding: 75px 30px 30px 40px;
}

.missionArticleContainer h2 {
    @include primaryFont(2.15rem);
    font-weight: bold;
    letter-spacing: 1.3px;
    margin-bottom: 10px;
}

.missionArticleContainer .articleAuthor {
    color: $headingColor;
    font-style: italic;
    margin-bottom: 50px;
}

.missionArticleContainer .articleAuthor span {
    font-weight: bold;
}


// END OF MISSIONS SECTION

// COMMENT SECTION
.commentSection {
    background-color: $primaryColor;
    h4{
        @include primaryFont(1.6rem);
        font-weight: bold;
    }
}

.jeremyComment,
.juliaComment {
    padding-bottom: 125px;
    display: flex;
    justify-content: space-around;

    .profileImgContainer {
        width: 15%;
        min-width: 100px;
    }

    .commentText {
        display: flex;
        flex-direction: column;
        width: 70%;

        h5 {
            @include primaryFont(1rem);
            color: $headingColor;
            font-weight: bold;
        }
        p{
            margin: 0;
        }
    }
}

// COMMENT SECTION END
// FORM/POST COMMENT SECTION BEGIN
.blogPostComment {
    background-color: $primaryColor;
    padding-bottom: 100px;
}

.blogForm {
    display: flex;
    flex-direction: column;

    label {
        display: none;
    }

    .blogFormNameEmailContainer {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;

        input {
            flex-basis: 48%;
            background-color: $primaryColor;
            border: none;
            border-bottom: $tertiaryColor solid 2px;
            @include primaryFont(1rem);
            padding-left: 25px;
            padding-bottom: 25px;
        }
    }

    textarea {
        @include primaryFont(1rem);
        padding-top: 40px;
        padding-left: 35px;
        margin-bottom: 30px;
        line-height: 32px;
    }
}