.contactPageHeader {
    background-image: url(..//..//assets/contact-header-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    nav {
    background-color: black;
        li:nth-child(5) a {
            color: #f8e71c;
        }
    }
}

.contactHeaderContainer h2 {
    color: #f8e71c;
    width: 250px;
    margin-bottom: 15px;
}