// VARIABLES
@use './variables' as *;
// VARIABLES

.contactPageHeader {
    background-image: url(..//..//assets/contact-header-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 300px;
    .contactPageTitleContainer {
        height: calc(100% - 44px);
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }
    nav {
    background-color: $navBarColor;
        li:nth-child(5) a {
            color: $secondaryColor;
        }
    }
}

.contactHeaderContainer {
    h1 {
    @include primaryFont(4rem);
    font-weight: bold;
    line-height: 92px;
    color: $secondaryColor;
    width: 250px;
    }
}