// VARIABLES
@use './variables' as *;
// VARIABLES

// CONTACT SECTION
section.contactSection {
    background-color: $primaryColor;

    .wrapper {
        display: flex;
        justify-content: space-between;

        .contactInfo {
            display: flex;
            flex-direction: column;
            width: 18.5%;
            margin-right: 10px;
            margin-top: 150px;
        }
    }
}

.socialMediaIcons i {
    color: $tertiaryColor;
    font-size: 1.2rem;
    padding-right: 20px;
}

// FORM STARTS
.contactPageForm {
    background-color: white;
    box-shadow: -15px 15px $secondaryColor;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 70px 40px;
    position: relative;
    top: -225px;

    label {
        display: none;
    }

    input {
        @include primaryFont(1rem);
        line-height: 32px;
        border: none;
        border-bottom: solid 2px $tertiaryColor;
    }

    .nameEmailContactForm {
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;

        input {
            width: 48%;
            padding-left: 20px;
            padding-bottom: 30px;
        }
    }

    textarea {
        border: 2px solid $tertiaryColor;
        @include primaryFont(1rem);
        line-height: 32px;
        margin-bottom: 50px;
        text-decoration: none;
        padding-left: 20px;
        padding-top: 40px;
    }
}