// VARIABLES
@use './variables' as *;
// VARIABLES

footer {
    background-color: #2c2c2c;
    .wrapper {
        display: flex;
        justify-content: center;
    }
}

footer p {
    color: #f0efed;
    line-height: 0;
}