// VARIABLES
@use './variables' as *;
// VARIABLES

footer {
    background-color: $basicFontColor;
    .wrapper {
        display: flex;
        justify-content: center;
    }
}

footer p {
    color: $primaryColor;
    line-height: 0;
}