// VARIABLES
@use './variables' as *;
// VARIABLES

@media (max-width: 750px){
    nav {
        background-color: rgba(44, 44, 44, 0.7);
    }
    .hamburgerButton {
        display:block;
        height: 4rem;
    }
}