// HEADER
.homePageHeader {
    background-image: url(..//..//assets/home-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 400px;
    margin: 0 auto;
    position: relative;

    .wrapper {
        height: 100%;
    }

    nav ul li:nth-child(2) a {
            color: #f8e71c;
        }

    .leafyBackground {
        background-image: url(..//..//assets/header-box.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        width: 45%;
        height: 85%;
        bottom: -80px;
        right: 0;
        z-index: 0;
    }
}

.homeHeaderTextContainer {
    height: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: #f0efed;
        line-height: 150px;
        width: 700px;
        font-weight: 400;
        z-index: 10;
    }

    span {
        color: #f8e71c;
    }
}


