// ABOUT US SECTION
section.aboutUs {
    background-color: #f0efed;
    padding: 225px 100px;

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h3 {
        margin: 0;
    }

    p {
        text-align: center;
    }
}
// ABOUT US SECTION ENDS 
// UPCOMING WORKSHOPS & DISCOVER SECTION
section.discoverUpcoming {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.discoverContainer {
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: -30px;

    .colourfulFlowerImgContainer {
        box-shadow: 20px 20px #f8e71c;
        width: 100%;
        align-self: flex-start;
        margin-bottom: 125px;
    }

    .discoverInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 80%;
        text-align: end;

        h6 {
            margin: 0;
        }
    } 
} //discover part is complete//

//upcoming part begins
.upcomingContainer {
    width: 43%;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: -150px;

    .upcomingInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin-bottom: 75px;

        h6 {
            margin: 0;
        }
    }

    .greenFlowerImgContainer {
        box-shadow: -20px 20px #f8e71c;
        width: 100%;
    }
} //upcoming part ends
// END OF DISCOVER/UPCOMING SECTION

// FOUR PART INFO SECTION BEGINS
section.infoSection {
    background-color: #f0efed;
    padding-top: 150px;
    padding-bottom: 75px;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.infoContainer {
    display: flex;
    flex-basis: 47%;

    a {
        padding-right: 20px;
        padding-top: 0;

        i {
            font-size: 1.25rem;
            background-color: #f8e71c;
            color: #2c2c2c;
            border-radius: 2rem;
            border: 15px solid #f8e71c;
        }
    }

    .infoText {
        display: flex;
        flex-direction: column;

        h6 {
        margin: 0;
        padding-top: 15px;
        }
    }
}
// END OF FOUR PART INFO SECTION

// PLANTED FOUNDER SECTION
section.founderSection {
    background-color: #f0efed;
    padding: 150px 0;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .founderImgContainer {
        width: 25%;
        box-shadow: 15px 15px #f8e71c;
        }

        .plantedFounderInfo {
            display: flex;
            flex-direction: column;
            width: 65%;
            align-items: flex-start;

            h3 {
                margin: 0;
            }
        }
    }
}

// GALLERY SECTION
.gallerySection {
    padding: 100px 0;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            margin: 10px;
            width: calc((100% / 3) - 20px);
        }
    }
}
