// CONTACT FORM MEDIA QUERY
@media (max-width: 950px) {
    .contactPageHeader{
        height: 70vh;
        nav {
            background-color: transparent;
        }
        .contactPageTitleContainer {
            justify-content: center;
            align-items: center;
        }
    }

    .contactHeaderContainer {

        h1 {
            width: auto;
            text-align: center;
        }
    }
    
    section.contactSection {
        padding-top: 75px;
    }

    section.contactSection .wrapper{
        flex-direction: column-reverse;
        .contactPageForm {
            position: inherit;
            width: 100%;
        }
        .contactInfo {
            width: 100%;
        }
    }

    .contactPageForm .nameEmailContactForm {
        flex-direction: column;
        width: 100%;
        input {
            width: 100%;
            padding-top: 20px;
        }
    }
}


// HOME PAGE MEDIA QUERY
@media (max-width: 750px) {
    
    .homePageHeader {
        .leafyBackground {
            height: 65%;
        }
    }
    
    .homeHeaderTextContainer h1 {
        font-size: 4rem;
    }

    section.discoverUpcoming {
        flex-direction: column;
            .discoverContainer, .upcomingContainer {
                width: 100%;
            }
            .discoverInfo, .upcomingInfo {
                width: 100%;
                max-width: 90%;
                margin: 0 auto;
                align-items: center;
                text-align: center;
            }
            .upcomingInfo {
                margin-bottom: 50px;
            }

    }

    section.fourPartInfoSection {
        .wrapper {
            flex-direction: column;
            padding-top: 50px;
        }
        .infoContainer {
            margin-bottom: 20px 0;
        }
    }

    section.founderSection {
        .wrapper {
            flex-direction: column;
        }
        .founderImgContainer {
            width: 60%;
        }
        .plantedFounderInfo {
            width: 100%;
            align-items: center;
            text-align: center;
            margin-top: 50px;
        }
    }

    .gallerySection ul {
        flex-direction: column;
        align-items: center;
        li {
            width: 75%;
        }
    }
}

// MEDIA QUERY FOR BLOG PAGE
@media (max-width: 850px){
    .blogHeader .blogPageTitleContainer {
        justify-content: center;
    }
    
    .blogHeader nav {
        background-color: transparent;
    }
    
    .divider{
        flex-direction: column-reverse;
    }
    
    .missionSection {
        margin-top: 50px;
        width: 100%;
    }
    .jeremyComment, .juliaComment {
        flex-direction: column;
        .profileImgContainer {
            margin-bottom: 10px;
        }
    }

    .blogForm .blogFormNameEmailContainer {
        flex-direction: column;
        padding-bottom: 0;
        input {
            width: 100%;
            margin-bottom: 25px;
        }
    }
    // SIDEBAR SECTION
    section.sideBar {
        width: 100%;
    }
}


// MEDIA QUERY FOR NAV BAR
@media (max-width: 750px) {

    header nav ul {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    // HEADER PAGE
    .homeHeaderTextContainer {
        height: calc(100% - 198px);
    }

    // BLOG PAGE
    .blogHeader .blogPageTitleContainer {
        height: calc(100% - 198px);
    }

    // CONTACT PAGE
    .contactPageHeader .contactPageTitleContainer {
        height: calc(100% - 188px);
    }
}