// MEDIA QUERY AT 950PX FOR CONTACT FORM
@media (max-width: 950px) {
    // CONTACT FORM MEDIA QUERY
    .contactPageHeader{
        height: 70vh;
        nav {
            background-color: transparent;
        }
        .contactPageTitleContainer {
            justify-content: center;
            align-items: center;
        }
    }

    .contactHeaderContainer {
        h1 {
            width: auto;
            text-align: center;
        }
    }
    
    section.contactSection {
        padding-top: 75px;
    }

    section.contactSection .wrapper{
        flex-direction: column-reverse;
        .contactPageForm {
            position: inherit;
            width: 100%;
        }
        .contactInfo {
            width: 100%;
        }
    }

    .contactPageForm .nameEmailContactForm {
        flex-direction: column;
        width: 100%;
        input {
            width: 100%;
            padding-top: 20px;
        }
    }
}
// END OF MEDIA QUERY AT 950PX

// MEDIA QUERY AT 750PX
@media (max-width: 750px){
    //MEDIA QUERY FOR THE NAV BAR and title containers on various pages
    header nav ul {
            width: 100%;
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }
    
        // HEADER PAGE -title container height
        .homeHeaderTextContainer {
            height: calc(100% - 198px);
        }
    
        // BLOG PAGE -title container height
        .blogHeader .blogPageTitleContainer {
            height: calc(100% - 198px);
        }
    
        // CONTACT PAGE -title container height
        .contactPageHeader .contactPageTitleContainer {
            height: calc(100% - 188px);
        }

    // **********END OF CHANGES TO NAV BAR & title containers********

    // *******HOME/INDEX PAGE*********
    .homePageHeader {
        .leafyBackground {
            height: 65%;
        }
    }

    .homeHeaderTextContainer h1 {
        font-size: 4rem;
    }

    section.discoverUpcoming {
        flex-direction: column;
        .discoverContainer,
        .upcomingContainer {
            width: 100%;
        }
        .discoverInfo,
        .upcomingInfo {
            width: 100%;
            max-width: 90%;
            margin: 0 auto;
            align-items: center;
            text-align: center;
        }
        .upcomingInfo {
            margin-bottom: 50px;
        }
    }

    section.fourPartInfoSection {
        .wrapper {
            flex-direction: column;
            padding-top: 50px;
        }
        .infoContainer {
            margin-bottom: 20px 0;
        }
    }

    section.founderSection {
        .wrapper {
            flex-direction: column;
        }
        .founderImgContainer {
            width: 60%;
        }
        .plantedFounderInfo {
            width: 100%;
            align-items: center;
            text-align: center;
            margin-top: 50px;
        }
    }

    .plantGallery ul {
        flex-direction: column;
        align-items: center;
        li {
            width: 75%;
        }
    }
    // **********END OF HOME PAGE***********

    // ***********BLOG PAGE****************
    .blogHeader .blogPageTitleContainer {
        justify-content: center;
        align-items: center;
    }
    
    .blogHeader nav {
        background-color: transparent;
    }
    
    .divider{
        flex-direction: column;
    }
    
    .plantedMissionMain {
        margin-top: 50px;
        width: 100%;
        .missionContainer {
            margin-left: 0;
        }
    }

    .jeremyComment, 
    .juliaComment {
        flex-direction: column;
        .profileImgContainer {
            margin-bottom: 10px;
        }
    }

    .blogForm .blogFormNameEmailContainer {
        flex-direction: column;
        padding-bottom: 0;
        input {
            width: 100%;
            margin-bottom: 25px;
        }
    }
    // SIDEBAR OF BLOG PAGE
    aside.sidebar {
        width: 100%;
        margin-bottom: 50px;
    }
    // ********END OF BLOG PAGE **********
}