// VARIABLES
@use './variables' as *;
// VARIABLES

.logo {
    @include primaryFont(2rem);
    color: $primaryColor;
    margin-right: 70px;
    margin-left: 5%;
}

nav {
    display: flex;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $navBarColor;
    z-index: 30;

    // hamburger button
        .toggleHamburger {
            position: absolute;
            top: .75rem;
            right: 5%;
            flex-direction: column;
            justify-content: space-between;
            width: 30px;
            height: 24px;
            display: none;
            color: $primaryColor;
            i {
                font-size: 1.6rem;
            }
        // End of hamburger button
        }
        .toggleHamburger:hover{
            color: $secondaryColor;
            transition: 300ms;
        }

        ul {
        width: 50%;
        display: flex;
        gap: 30px;
            a {
                @include primaryFont(1rem);
                color: $primaryColor;
                padding: 10px;
                text-transform: uppercase;
            }
    }
}