// VARIABLES
@use './variables' as *;
// VARIABLES

.logo {
    @include primaryFont(2rem);
    color: $primaryColor;
    padding-right: 20px;
}

header nav {
    padding-top: 10px;
    display: flex;
    height: auto;

    ul {
        width: 50%;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        a {
            @include primaryFont(1rem);
            color: $primaryColor;
            padding: 10px;
            text-transform: uppercase;
        }
    }
}

// NEW CODE FOR HAMBURGER MENU
.hamburgerButton {
    background-color: transparent;
    display: none;
    span {
        background-color: white;
        width: 40px;
        height: 5px;
        margin: 10px 0;
        display: block;
    }
}