// VARIABLES
@use './variables' as *;
// VARIABLES

.logo {
    @include primaryFont(2rem);
    color: $primaryColor;
    padding-right: 10px;
}

header nav {
    padding-top: 10px;

    ul {
        width: 50%;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        a {
            @include primaryFont(1rem);
            color: $primaryColor;
            padding: 10px;
            text-transform: uppercase;
        }
    }
}