// VARIABLES
@use './variable' as *;
// VARIABLES

// TYPOGRAPHY STYLES
html {
    font-size: 125%;
    color: #2c2c2c;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 32px;
    font-size: 1rem;
}

// HEADINGS START
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 8.3rem;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 4rem;
    line-height: 92px;
}

h3 {
    font-size: 2.815rem;
    letter-spacing: 1.3px;
}

h4 {
    font-size: 2.15rem;
    letter-spacing: 1.3px;
}

h5 {
    font-size: 2.1rem;
    letter-spacing: 1px;
}

h6 {
    font-size: 1.6rem;
    letter-spacing: 1px;
}

// headings in sidebar on BLOG PAGE
.aboutPlantedSideBar h6 {
    font-size: 1rem;

}

// this is the heading used in comments on blog page
.commentText h6 {
    margin: 0;
    font-size: 1rem;
    color: #074115;
}
// HEADINGS END

// INPUT/TEXTAREA IN FORMS
input, textarea {
    font-family: 'Josefin Sans', sans-serif;
}


// BUTTON TEXT
button {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}
// BUTTON TEXT END

// TEXT STYLE WITHIN FORMS

