.divider{
    background-color: #f0efed;
}

.divider .wrapper{
    display: flex;
    justify-content: space-between;
}


section.sideBar {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 125px;
    padding: 20px;
    width: 150%;
    margin-right: 50px;
    position: relative;
}


section.sideBar h6 {
    margin: 0;
}

.sideBarText {
    padding-top: 30px;
}
.sideBarImage {
    width: 200%;
    position: absolute;
    left: -300px;

}

.recentPosts {
    margin-top: 50px;
}

.recentPosts ul {
    padding-left: 30px;
}

.recentPosts ul li::before {
    content: "\2022";
    color: #0e902d;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1rem;
}
// SIDEBAR ENDS
// MISSION SECTION BEGINS


.ourMissionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-left: 5px solid #f8e71c;
    border-bottom: 5px solid #f8e71c;
    padding-left: 10px;
    margin-top: -200px;
}

.postOurMissionImage {
    box-shadow: -15px 15px #f8e71c;
    z-index: 10;
}

.missionArticleContainer {
    padding-top: 75px;
    padding-left: 30px;
}

.missionArticleContainer h4 {
    margin: 0;
}

.missionArticleContainer .articleAuthor {
    color: #074115;
    font-style: italic;
}

.missionArticleContainer .articleAuthor span {
    font-weight: bold;
}


// END OF MISSIONS SECTION

// COMMENT SECTION
section.commentSection {
    background-color: #f0efed;
}

section.commentSection .wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 35px;
}

section.commentSection .wrapper .titleContainer {
    width: 68%;
}

.jeremyComment,
.juliaComment {
    padding-bottom: 125px;
    display: flex;
    width: 68%;
    justify-content: space-between;
    align-content: space-between;
}

.profileImgContainer {
    width: 20%;
}


.commentText {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.commentText h6 {
    margin: 0;
}

.commentText p {
    margin: 0;
}

// COMMENT SECTION END

// FORM/POST COMMENT SECTION BEGIN
section.blogPostComment {
    background-color: #f0efed;
    padding-bottom: 100px;
}

section.blogPostComment .wrapper {
    display: flex;
    justify-content: flex-end;
}

.blogForm {
    display: flex;
    flex-direction: column;
    width: 68%;
}

.blogForm label {
    display: none;
}

.blogForm .blogFormNameEmailContainer {
display: flex;
justify-content: space-between;
padding-bottom: 30px;
}

.blogFormNameEmailContainer input {
    flex-basis: 48%;
    background-color: #f0efed;
    border: none;
    border-bottom: #0e902d solid 2px;
    padding-left: 30px;
    padding-bottom: 25px;
}

.blogForm textarea {
    padding-top: 40px;
    padding-left: 35px;
    margin-bottom: 30px;
}

