.divider{
    background-color: #f0efed;
    // display: flex;
}

.divider .wrapper {
    display: flex;
    justify-content: space-between;
}

section.sideBar {
    width: 30%;
    min-width: 250px;
    margin-top: 125px;
    background-color: white;
    height: 100%;
}


section.sideBar h6 {
    margin: 0;
}

.sideBarText {
    background-color: white;
    padding-top: 30px;
}
.sideBarImage {
    width: 150%;
    position: relative;
    top: -10px;
    left: -200px;
}

.recentPosts {
    margin-top: 50px;
}

.recentPosts ul {
    padding-left: 30px;
}

.recentPosts ul li::before {
    content: "\2022";
    color: #0e902d;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1rem;
}
// SIDEBAR ENDS
// MISSION SECTION BEGINS

.missionSection {
    width: 60%;
    margin-top: -200px;
    z-index: 10;
}

.ourMissionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-left: 5px solid #f8e71c;
    border-bottom: 5px solid #f8e71c;
    padding-left: 10px;
}

.postOurMissionImage {
    box-shadow: -15px 15px #f8e71c;
    z-index: 20;
}

.missionArticleContainer {
    padding-top: 75px;
}

.missionArticleContainer h4 {
    margin: 0;
}

.missionArticleContainer .articleAuthor {
    color: #074115;
    font-style: italic;
}

.missionArticleContainer .articleAuthor span {
    font-weight: bold;
}


// END OF MISSIONS SECTION

// COMMENT SECTION
.commentSection {
    background-color: #f0efed;
}


.jeremyComment,
.juliaComment {
    padding-bottom: 125px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.profileImgContainer {
    width: 20%;
}


.commentText {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.commentText h6 {
    margin: 0;
}

.commentText p {
    margin: 0;
}

// COMMENT SECTION END

// FORM/POST COMMENT SECTION BEGIN
.blogPostComment {
    background-color: #f0efed;
    padding-bottom: 100px;
}

.blogPostComment .wrapper {
    display: flex;
    justify-content: flex-end;
}

.blogForm {
    display: flex;
    flex-direction: column;
}

.blogForm label {
    display: none;
}

.blogForm .blogFormNameEmailContainer {
display: flex;
justify-content: space-between;
padding-bottom: 30px;
}

.blogFormNameEmailContainer input {
    flex-basis: 48%;
    background-color: #f0efed;
    border: none;
    border-bottom: #0e902d solid 2px;
    padding-left: 30px;
    padding-bottom: 25px;
}

.blogForm textarea {
    padding-top: 40px;
    padding-left: 35px;
    margin-bottom: 30px;
}

