.contactPageHeader {
    background-image: url(..//..//assets/contact-header-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 400px;
    position: relative;
}

.contactPageHeader nav {
    background-color: black;
}

.contactHeaderContainer h2 {
    color: #f8e71c;
    width: 250px;
    position: absolute;
    margin: 0;
    padding-bottom: 10px;
    bottom: 0;
}

.contactInfo {
    display: flex;
    flex-direction: column;
}

