// HEADER
.homePageHeader {
    background-image: url(..//..//assets/home-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    min-height: 600px;
    margin: 0 auto;
    position: relative;
}



.homeHeaderContainer {
    height: 70vh;
    min-height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    color: #f0efed;
    line-height: 150px;
    width: 700px;
    font-weight: 400;
    z-index: 10;
}

span {
    color: #f8e71c;
}

.leafyBackground {
    background-image: url(..//..//assets/header-box.jpg);
    position: absolute;
    width: 45%;
    height: 85%;
    bottom: -80px;
    right: 0;
    z-index: 0;
}


