.logo {
    margin: 0;
    color: #f0efed;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
}

header nav {
    padding-top: 10px;

    ul {
        width: 50%;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        a {
            color: #f0efed;
            font-family: 'Josefin Sans', sans-serif;
            padding: 10px;
        }
    }
}