@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 125%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  color: #2c2c2c;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 32px;
}

img {
  width: 100%;
  max-height: auto;
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  color: #F8E71C;
}

.wrapper {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.logo {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #F0EFED;
  padding-right: 10px;
}

header nav {
  padding-top: 10px;
}
header nav ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
header nav ul a {
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #F0EFED;
  padding: 10px;
  text-transform: uppercase;
}

button {
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: center;
  background-color: #0E902D;
  color: #F0EFED;
  padding: 10px 25px;
  border: none;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

button:hover,
button:focus {
  background-color: #F8E71C;
  color: #2c2c2c;
  border: 2px;
}

footer {
  background-color: #2c2c2c;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  color: #F0EFED;
  line-height: 0;
}

.homePageHeader {
  background-image: url(..//..//assets/home-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 600px;
  margin: 0 auto;
  position: relative;
}
.homePageHeader .wrapper {
  height: 100%;
}
.homePageHeader nav ul li:nth-child(2) a {
  color: #F8E71C;
}
.homePageHeader .leafyBackground {
  background-image: url(..//..//assets/header-box.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 45%;
  height: 85%;
  bottom: -80px;
  right: 0;
}

.homeHeaderTextContainer {
  height: calc(100% - 44px);
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.homeHeaderTextContainer h1 {
  color: #F0EFED;
  line-height: 125px;
  z-index: 10;
  font-size: 8.3rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.homeHeaderTextContainer span {
  display: block;
  color: #F8E71C;
}

section.aboutUs {
  background-color: #F0EFED;
  padding: 225px 100px;
}
section.aboutUs .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.aboutUs h2 {
  font-size: 2.815rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-weight: bold;
  letter-spacing: 1.3px;
  line-height: 92px;
  text-align: center;
}
section.aboutUs p {
  text-align: center;
}

section.discoverUpcoming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}

.discoverContainer {
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  top: -30px;
}
.discoverContainer .vividFlowerImgContainer {
  -webkit-box-shadow: 20px 20px #F8E71C;
          box-shadow: 20px 20px #F8E71C;
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 125px;
}
.discoverContainer .discoverInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 80%;
  text-align: end;
}
.discoverContainer .discoverInfo h3 {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-weight: bold;
  letter-spacing: 1px;
}

.upcomingContainer {
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  bottom: -150px;
}
.upcomingContainer .upcomingInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80%;
  margin-bottom: 75px;
}
.upcomingContainer .upcomingInfo h3 {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-weight: bold;
  letter-spacing: 1px;
}
.upcomingContainer .greenFlowerImgContainer {
  -webkit-box-shadow: -20px 20px #F8E71C;
          box-shadow: -20px 20px #F8E71C;
  width: 100%;
}

section.fourPartInfoSection {
  background-color: #F0EFED;
  padding-top: 150px;
  padding-bottom: 75px;
}
section.fourPartInfoSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
}
.infoContainer a {
  margin-right: 20px;
  padding-top: 0;
  height: 55px;
}
.infoContainer a i {
  font-size: 1.25rem;
  background-color: #F8E71C;
  color: #2c2c2c;
  border-radius: 2.5rem;
  border: 15px solid #F8E71C;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}
.infoContainer a:hover i,
.infoContainer a:focus i {
  color: #F0EFED;
  background-color: #0E902D;
  border-color: #0E902D;
}
.infoContainer .infoText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.infoContainer .infoText h4 {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 15px;
}

section.founderSection {
  background-color: #F0EFED;
  padding: 150px 0;
}
section.founderSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.founderImgContainer {
  width: 25%;
  -webkit-box-shadow: 15px 15px #F8E71C;
          box-shadow: 15px 15px #F8E71C;
}

.plantedFounderInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.plantedFounderInfo h5 {
  font-size: 2.1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 46px;
}

.plantGallery {
  padding: 100px 0;
}
.plantGallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.plantGallery ul li {
  margin: 10px;
  width: calc(33.3333333333% - 20px);
}

.blogHeader nav {
  background-color: black;
}
.blogHeader nav li:nth-child(4) a {
  color: #F8E71C;
}

.blogHeader {
  background-image: url(..//..//assets/blog-header-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  min-height: 250px;
}
.blogHeader .blogPageTitleContainer {
  height: calc(100% - 44px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.blogHeader .blogPageTitleContainer h1 {
  font-size: 4rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 92px;
  color: #F8E71C;
}

.divider {
  background-color: #F0EFED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plantedMissionMain {
  margin-top: -200px;
  z-index: 10;
  width: 65%;
}

.blogWrapper2 {
  width: 100%;
  max-width: 84.6153846154%;
  margin: 0 auto;
}

.missionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 5px solid #F8E71C;
  border-bottom: 5px solid #F8E71C;
  margin-left: -15px;
}

.postOurMissionImage {
  -webkit-box-shadow: -15px 15px #F8E71C;
          box-shadow: -15px 15px #F8E71C;
}

.missionArticleContainer {
  padding: 75px 0 25px 0;
}
.missionArticleContainer h2 {
  font-size: 2.15rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-weight: bold;
  letter-spacing: 1.3px;
  line-height: 46px;
}
.missionArticleContainer .articleAuthor {
  color: #074115;
  font-style: italic;
  margin-bottom: 50px;
  margin-top: 0;
}
.missionArticleContainer .articleAuthor span {
  font-weight: bold;
}

.commentSection {
  background-color: #F0EFED;
  margin-top: 50px;
}
.commentSection h3 {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.jeremyComment,
.juliaComment {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.jeremyComment .profileImgContainer,
.juliaComment .profileImgContainer {
  width: 15%;
  min-width: 100px;
}
.jeremyComment .commentText,
.juliaComment .commentText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}
.jeremyComment .commentText h4,
.juliaComment .commentText h4 {
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #074115;
  font-weight: bold;
}
.jeremyComment .commentText p,
.juliaComment .commentText p {
  margin: 0;
}

.blogPostComment {
  background-color: #F0EFED;
  margin: 100px 0;
}

.blogForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blogForm .blogFormNameEmailContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}
.blogForm .blogFormNameEmailContainer input {
  width: 48%;
  background-color: #F0EFED;
  border: none;
  border-bottom: #0E902D solid 2px;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-bottom: 25px;
}
.blogForm textarea {
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-left: 35px;
  margin-bottom: 30px;
  line-height: 32px;
  width: 100%;
  resize: none;
}

.blogWrapper1 {
  width: 100%;
  max-width: 71.4285714286%;
  margin: 0 auto;
}

aside.sidebar {
  margin-top: 125px;
  height: 100%;
  width: 35%;
}

.sidebarImage {
  width: 85.8%;
  z-index: 10;
  border-right: solid white 10px;
}

.sidebarTextContainer {
  background-color: white;
  padding: 40px 30px;
  border-right: 10px solid white;
}
.sidebarTextContainer h5 {
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-weight: bold;
  letter-spacing: 1px;
}

.aboutPlanted a {
  color: #074115;
  font-weight: bold;
  font-style: oblique;
}

.recentPosts {
  margin-top: 50px;
}
.recentPosts ul {
  padding-left: 20px;
}
.recentPosts ul li::before {
  content: "•";
  color: #0E902D;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1rem;
}

.contactPageHeader {
  background-image: url(..//..//assets/contact-header-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  min-height: 300px;
}
.contactPageHeader .contactPageTitleContainer {
  height: calc(100% - 44px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.contactPageHeader nav {
  background-color: black;
}
.contactPageHeader nav li:nth-child(5) a {
  color: #F8E71C;
}

.contactHeaderContainer h1 {
  font-size: 4rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 92px;
  color: #F8E71C;
  width: 250px;
}

section.contactSection {
  background-color: #F0EFED;
}
section.contactSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.contactSection .wrapper .contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 18.5%;
  margin-right: 10px;
  margin-top: 150px;
}

.socialMediaIcons i {
  color: #0E902D;
  font-size: 1.5rem;
  padding: 10px;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

.socialMediaIcons a:hover i,
.socialMediaIcons a:focus i {
  color: #F8E71C;
  border-radius: 5rem;
  background-color: #2c2c2c;
}

.contactPageForm {
  background-color: white;
  -webkit-box-shadow: -15px 15px #F8E71C;
          box-shadow: -15px 15px #F8E71C;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 40px;
  position: relative;
  top: -225px;
}
.contactPageForm input {
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 32px;
  border: none;
  border-bottom: solid 2px #0E902D;
}
.contactPageForm .nameEmailContactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
}
.contactPageForm .nameEmailContactForm input {
  width: 48%;
  padding-left: 20px;
  padding-bottom: 30px;
}
.contactPageForm textarea {
  border: 2px solid #0E902D;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 32px;
  margin-bottom: 50px;
  text-decoration: none;
  padding-left: 20px;
  padding-top: 40px;
  width: 100%;
  resize: none;
}

@media (max-width: 750px) {
  nav {
    background-color: rgba(44, 44, 44, 0.7);
  }
}
@media (max-width: 950px) {
  .contactPageHeader {
    height: 70vh;
  }
  .contactPageHeader nav {
    background-color: transparent;
  }
  .contactPageHeader .contactPageTitleContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactHeaderContainer h1 {
    width: auto;
    text-align: center;
  }
  section.contactSection {
    padding-top: 75px;
  }
  section.contactSection .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  section.contactSection .wrapper .contactPageForm {
    position: inherit;
    width: 100%;
  }
  section.contactSection .wrapper .contactInfo {
    width: 100%;
  }
  .contactPageForm .nameEmailContactForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .contactPageForm .nameEmailContactForm input {
    width: 100%;
    padding-top: 20px;
  }
}
@media (max-width: 750px) {
  header nav ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
  }
  .homeHeaderTextContainer {
    height: calc(100% - 198px);
  }
  .blogHeader .blogPageTitleContainer {
    height: calc(100% - 198px);
  }
  .contactPageHeader .contactPageTitleContainer {
    height: calc(100% - 188px);
  }
  .homePageHeader .leafyBackground {
    height: 65%;
  }
  .homeHeaderTextContainer h1 {
    font-size: 3.8rem;
  }
  section.discoverUpcoming {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.discoverUpcoming .discoverContainer,
  section.discoverUpcoming .upcomingContainer {
    width: 100%;
  }
  section.discoverUpcoming .discoverInfo,
  section.discoverUpcoming .upcomingInfo {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  section.discoverUpcoming .upcomingInfo {
    margin-bottom: 50px;
  }
  section.fourPartInfoSection .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
  }
  section.fourPartInfoSection .infoContainer {
    margin-bottom: 20px 0;
  }
  section.founderSection .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.founderSection .founderImgContainer {
    width: 60%;
  }
  section.founderSection .plantedFounderInfo {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 50px;
  }
  .plantGallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .plantGallery ul li {
    width: 75%;
  }
  .blogHeader .blogPageTitleContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogHeader nav {
    background-color: transparent;
  }
  .divider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .plantedMissionMain {
    margin-top: 50px;
    width: 100%;
  }
  .plantedMissionMain .missionContainer {
    margin-left: 0;
  }
  .jeremyComment,
  .juliaComment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .jeremyComment .profileImgContainer,
  .juliaComment .profileImgContainer {
    margin-bottom: 10px;
  }
  .blogForm .blogFormNameEmailContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0;
  }
  .blogForm .blogFormNameEmailContainer input {
    width: 100%;
    margin-bottom: 25px;
  }
  aside.sidebar {
    width: 100%;
    margin-bottom: 50px;
  }
}