html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 125%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  max-height: auto;
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

html {
  font-size: 125%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 32px;
  font-size: 1rem;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 8.3rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 4rem;
  line-height: 92px;
}

h3 {
  font-size: 2.815rem;
  letter-spacing: 1.3px;
}

h4 {
  font-size: 2.15rem;
  letter-spacing: 1.3px;
}

h5 {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

h6 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

button {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.logo {
  margin: 0;
  color: #f0efed;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
}

header nav {
  width: 50%;
  padding-top: 10px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

header nav ul li a {
  color: #f0efed;
  font-family: "Josefin Sans", sans-serif;
  padding: 10px;
}

button {
  background-color: #0E902D;
  color: #f0efed;
  padding: 10px 25px;
  border: none;
}

footer {
  background-color: #2c2c2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  color: #f0efed;
  line-height: 0;
}

a:hover {
  color: #f8e71c;
}

.homePageHeader {
  background-image: url(..//..//assets/home-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  min-height: 600px;
  margin: 0 auto;
  position: relative;
}

.homeHeaderContainer {
  height: 70vh;
  min-height: 600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  color: #f0efed;
  line-height: 150px;
  width: 700px;
  font-weight: 400;
  z-index: 10;
}

span {
  color: #f8e71c;
}

.leafyBackground {
  background-image: url(..//..//assets/header-box.jpg);
  position: absolute;
  width: 45%;
  height: 85%;
  bottom: -80px;
  right: 0;
  z-index: 0;
}

section.aboutUs {
  background-color: #f0efed;
  padding: 225px 100px;
}

section.aboutUs .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.aboutUs h3 {
  margin: 0;
}

section.aboutUs p {
  text-align: center;
}

section.discoverUpcoming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.discoverContainer {
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 0;
}

.discoverInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 70%;
  margin-right: 0;
  text-align: end;
}

.discoverInfo h6,
.workshopInfo h6 {
  margin: 0;
}

.flowerImgContainer {
  -webkit-box-shadow: 15px 15px #f8e71c;
          box-shadow: 15px 15px #f8e71c;
  width: 100%;
  position: relative;
  top: -75px;
}

.workshopContainer {
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.workshopInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: start;
  max-width: 70%;
  margin-left: 0;
}

.greenFlowerImgContainer {
  -webkit-box-shadow: -15px 15px #f8e71c;
          box-shadow: -15px 15px #f8e71c;
  width: 100%;
  position: relative;
  bottom: -50px;
}

section.infoSection {
  background-color: #f0efed;
  padding-top: 125px;
  padding-bottom: 75px;
}

section.infoSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
}

.infoContainer a {
  padding-right: 20px;
  padding-top: 0;
}

.infoContainer i {
  font-size: 1.25rem;
  background-color: #f8e71c;
  color: #2c2c2c;
  border-radius: 2rem;
  border: 15px solid #f8e71c;
}

.infoText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.infoSection h6 {
  margin: 0;
  padding-top: 15px;
}

section.founderSection {
  background-color: #f0efed;
  padding: 150px 0;
}

section.founderSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.founderImgContainer {
  width: 25%;
  -webkit-box-shadow: 15px 15px #f8e71c;
          box-shadow: 15px 15px #f8e71c;
}

.plantedFounderInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

h3 {
  margin: 0;
}

.gallerySection {
  padding: 100px 0;
}

.gallerySection ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallerySection ul li {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
}

.contactPageHeader {
  background-image: url(..//..//assets/contact-header-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  min-height: 400px;
  position: relative;
}

.contactHeaderContainer h2 {
  color: #f8e71c;
  width: 250px;
  position: absolute;
  margin: 0;
  padding-bottom: 10px;
  bottom: 0;
}

.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.contactSection {
  background-color: #f0efed;
}

section.contactSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 18.5%;
  margin-right: 10px;
  margin-top: 150px;
}

.socialMediaIcons i {
  color: #0E902D;
  font-size: 1.2rem;
  padding-right: 20px;
}

.contactPageForm {
  background-color: white;
  -webkit-box-shadow: -15px 15px #f8e71c;
          box-shadow: -15px 15px #f8e71c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 40px;
  position: relative;
  top: -225px;
}

.nameEmailContactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
}

.nameEmailContactForm input {
  width: 48%;
  padding-left: 20px;
  padding-bottom: 30px;
}

.contactPageForm label {
  display: none;
}

.contactPageForm input {
  border: none;
  border-bottom: solid 2px #0E902D;
}

.contactPageForm textarea {
  border: 2px solid #0E902D;
  margin-bottom: 50px;
  text-decoration: none;
  padding-left: 20px;
  padding-top: 40px;
}